// Place all the styles related to the Leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Roboto);

#myTitle{
	font-size: 30px;
	color: #555;
	text-align: center;
	font-family: Tahoma;
	position: relative;
	margin-bottom: 5px;
	font-family: 'Ubuntu', tahoma;
}

#scheduleTitle{
	font-size: 30px;
	color: #555;
	text-align: center;
	font-family: Tahoma;
	position: relative;
	margin-bottom: 5px;
	font-family: 'Ubuntu', tahoma;
}

#standingsTitle{
	font-size: 30px;
	color: #555;
	text-align: center;
	font-family: Tahoma;
	position: relative;
	margin-bottom: 5px;
	font-family: 'Ubuntu', tahoma;
}

#resultsTitle{
	font-size: 30px;
	color: #555;
	text-align: center;
	font-family: Tahoma;
	position: relative;
	margin-bottom: 5px;
	font-family: 'Ubuntu', tahoma;
}


 body{
 	font-family: 'Roboto', helvetica;
 	padding-top: 70px;
 	background-color: #ccc
 }

 #standings{
 	margin-bot:0px;
 }

